

/*About*/


#About-banner{
    background-image: url(../img/banner/About_banner.png);
    width:100%;
    background-size: cover;
  
}
#About-banner h1{
    text-align: center;
    font-size: 84px;
    color: var(--highmid);
    padding-top: 8%;
    padding-bottom: 10px;
    backdrop-filter: brightness(83%);
}

 .Welcome {
    display: flex;
    justify-content:center;
    padding: 10%;
 }

 .Welcome h2{
    color: var(--dark);
    font-size: 31px;
    font-weight: 50;
 }



section.card {
    background: var(--bright);
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 64px 0;
    margin-top: 80px;
    width: 60%;
    height: 360px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    box-shadow: 5px 0 0 0 rgba(200, 166, 153, 0.3), -5px 0 0 0 rgba(204,204,204,0.3), 0 5px 0 0 rgba(204,204,204,0.3);
}
section.card .text-content {
    display: flex;
    flex-direction: column;
 
}
section.card .text-content h3 {
    margin: 0;
    font-size: 1.5em;
    max-width: 20ch;
}
section.card .text-content p {
    color: var(--dark);
    margin: 16px 0 24px;
    max-width: 36ch;
}
section.card .text-content a {
    border: 3px solid var(--dark);
    color: var(--dark);
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
}
section.card .text-content a:hover {
    background: #000;
    color: white;
}
section.card .visual {
    width: 240px;
    height: 100%;
    position: absolute;
    top: -24px;
    left: 24px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 1px 2px 6px rgba(255,255,255,0.25), 2px 6px 12px rgba(0,0,0,0.25);
}
section.card .visual img {
    height: 100%;
}
section.card:nth-of-type(odd) {
    margin: 0 0 0 248px;
    border-radius: 24px 24px 48px 24px;
    padding: 48px 308px 48px 60px;
}
section.card:nth-of-type(odd) .visual {
    right: 24px;
    left: auto;
}
section.card:nth-of-type(odd) .text-content a {
    align-self: flex-start;
}
article {
    margin: auto;
    display: block;
    width: calc(308vw);
    max-width: calc(1168px);
    min-width: calc(888px);
}


.more{
    background-image: url(../img/banner/sales.png);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-color: #faf9f8;
    margin-top: 5%;
    border-bottom: 1px solid black;

}

.centered {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .centered h2{
    color: var(--highmid);
    width: 370px;
    font-size: 20px;
    padding: 20px 0;
  }
  .centered h2 span{
    color: #ff523b;
    font-size: 33px;

  }
 









@media all and (max-width: 1100px) {

    article {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
   }
    section.card {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
   }
    section.card .text-content {
        width: 100%;
   }
    section.card:nth-of-type(odd) {
        margin: 0;
   }
}
@media all and (max-width: 720px) {


    #About-banner{
        background-image: url(../img/banner/About_banner_responsive.png);
        width:100%;
        background-size: cover;}
      
   
    section.card {
        margin: 64px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
   }
    section.card:nth-of-type(odd) {
        padding: 88px 36px 36px;
        border-radius: 24px;
   }


    section.card .text-content h3 {
        font-size: 20px;
        width: 180px;
        
   }
    section.card .text-content p, section.card .text-content a {
        font-size: 17px;
   }
    section.card .visual, section.card:nth-of-type(odd) .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
   }
    section.card .visual img, section.card:nth-of-type(odd) .visual img {
        width: 100%;
        height: auto;
   }

   .more{
    margin-top: 35px;
    background-image: url(../img/banner/sales_responsive.png);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered h2{
    color: var(--highmid);
    width: 370px;
  }

}

