*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  } 
#login {
    display: block  ;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    width: 400px;
    background-color: white;
    box-shadow: red;
    border-radius: 10px;
    max-height: calc(100vh - 10px);
    overflow-y: scroll;
    z-index: 1;

}
#login::-webkit-scrollbar{
    display: none;
}

#login h1{
    text-align: center;
    padding:   20px ;
    border-bottom:1px solid silver ;
}
#login form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text_field{
    position: relative;
    margin: 30px 0;
}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    opacity: 0.7;
    background: none;
    outline: none;
}



#submit_login{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: brown;
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb ;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin-bottom: 30px;



}
#submit_login:hover{
    border-color: brown;
    transition: .5s;

}


#login_pass{
    position: absolute;
    margin-top: 12px;
    right:10px;
    color: #adadad;
    transition: 0.4s;
    cursor: pointer;

}
#login_pass:hover{
    color:black;
}

#error{
    position: absolute;
    top:215px;
    font-size: 13px;
    color: brown;
    font-family: 'none';
}