*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'robotico', serif;
    font-weight: 700;
  } 


  .fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}


body{
    overflow-y: overlay;
  }
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    
 
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.2);
    border-radius:5px ;    
 
}



  
button {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #1a1d1d;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

    }
    button:hover {
    font-weight: 600;
    color: #ffffff;
    background-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    }


  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/

 header{
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0; 
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    

    

 }


/*SEARCH*/

 #search_text input{
         
    height: 2.14rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none ;
    background: rgb(236, 235, 235);
    transition: .4s;

    
   
}


#search_text input:hover{
    background: rgb(206, 202, 202);
}

.search
 {
    left: 5%;
    position: relative;
    transform: translate(45% , 0%) scale(0.1);
    visibility: hidden;
    transition:transform 0.4s;
   
    
}
.search-active{
    visibility: visible;
    transform: translate(0% , 0%) scale(1);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) .4s;
}


.logo img{
    max-width: 120px;
    height: auto;
 }
 .navmenu {
    display: flex;
    position: relative  ;
    margin-left: 190px;

    
 }
 .navmenu a {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px;
    padding-top: 100px;
    font-weight: 400;
    transition: all .42s ease;

 }

 .navmenu li{
    list-style: none;
    position: relative;
    
}



.nav-icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
    
}


.navmenu li a.active::after{
    content: "";
    position: absolute;
    width: 35%;
    transform: scaleX(1);
    height: 2px;
    bottom: -6px;
    left: 20px;
    background-color: white;
}
.navmenu li a::after {
    content: "";
    position: absolute;
    width: 35%;
    transform: scaleX(0);
    height: 2px;
    bottom: -6px;
    left: 20px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navmenu li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.nav-icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
    
}
.nav-icon a{
    margin-right: 20px;
}

.nav-icon i{
    color: #fff;
    font-weight: 25px;
    font-weight: 400;
    transition: all .42s ease;
    cursor: pointer;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: white;
}

#menu-icon{
    font-size: 35px;
    color:#fff ;
    z-index: 10000px;
    cursor: pointer;
    display: none ;
}


.image-col{
    cursor: pointer;
}

/*scroll-up*/
#scroll-up{
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    visibility: hidden;
    transform: translate(0% , 0%) scale(0.1);
    cursor: pointer;
    transition: all 0.4s;
    z-index: 1;
    color: white;
}
#scroll-up:hover{
    opacity: 1;
    background: black;
    transition: 0.4s;

}
#scroll-up.active{
    visibility: visible;
    transform: translate(0% , 0%) scale(1);
    
}


/*-------------------login*/
#login {
    display: none;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
    max-height: calc(100vh - 10px);
    overflow-y: scroll;     
    z-index: 1;

}
#login::-webkit-scrollbar{
    display: none;
}

#login h1{
    text-align: center;
    padding:   20px ;
    border-bottom:1px solid silver ;
}
#login form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text_field label{
    position: absolute;
    top:50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;


}
.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:brown ;
    transition: .5s;

}
.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: brown;

}
.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;

}
#submit_login{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: brown;
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb ;
    font-weight: 700;
    outline: none;
    cursor: default;
    opacity: 0.8;

}
#submit_login:hover{
    border-color: "";
    transition: .5s;

}
#submit_signup{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: brown;
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb ;
    font-weight: 700;
    outline: none;
    cursor: default ;
    opacity: 0.8;


}
#submit_signup:hover{
    border-color: none;
    transition: .5s;

}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: brown;
    text-decoration: none;
    cursor: pointer;
}
.signup_link a:hover{
    text-decoration: underline;

}

#login_pass{
    position: absolute;
    margin-top: 15px;
    right:5px;
    color: #adadad;
    transition: 0.4s;
    cursor: pointer;

}
#login_pass:hover{
    color:black;
}

#status_login{
    position: absolute;
    top:215px;
    font-size: 13px;
    color: brown;
    font-family: 'none';
    
}


/*-----------------------------------------------------------------------------signinxxxx */
#signup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    max-height: calc(100vh - 10px);
    overflow-y: scroll;


    
}
#signup::-webkit-scrollbar{
    display: none;
}
#signup h1{
    text-align: center;
    padding:   20px ;
    border-bottom:1px solid silver ;
}
#signup form{
    padding: 0 40px;
    box-sizing: border-box;
}


form .text_field1{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}


    



.text_field1 input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text_field1 label{
    position: absolute;
    top:0%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;


}
.text_field1 span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:brown ;
    transition: .5s;

}
.text_field1 input:focus ~ label,
.text_field1 input:valid ~ label{
    top: -5px;
    color: brown;

}
.text_field1 input:focus ~ span::before,
.text_field1 input:valid ~ span::before{
    width: 100%;

}


select{
    outline:none;
    border: 2px white;
    color: #adadad;
    width: 100%;
}
option{
    color: brown;
}




input[type="date"]{
    width: 100%;
    color: #adadad;
    
    
    
    
}


#email_error{
    display: none;
    position: relative;
    text-align: center;
    margin: -20px 0px -15px 90px;
    background: brown;
    color: #fceae8;
    border-radius: 5px;
    font-family: 'none';
    
    
}
#email_error:before{
    display: block;
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: brown;
    right: 10px;
    top:-5px;
    transform: rotate(45deg);
}
#phone_error{
    display: none;
    position: relative;
    text-align: center;
    margin: -20px 0px -15px 90px;
    background: brown;
    color: #fceae8;
    border-radius: 5px;
    font-family: 'none';
    
    
    
}
#phone_error:before{
    display: block;
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: brown;
    right: 10px;
    top:-5px;
    transform: rotate(45deg);
}

#date_error{
    display: none;
    position: relative;
    text-align: center;
    margin: -20px 0px -15px 90px;
    background: brown;
    color: #fceae8;
    border-radius: 5px;
    font-family: 'none';
    
    
    
}
#date_error:before{
    display: block;
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: brown;
    right: 10px;
    top:-5px;
    transform: rotate(45deg);
}

#response{
    opacity:0;
    position: absolute;
    cursor: default;
}

#signup_pass{
    position: absolute;
    margin-top: 15px;
    right:5px;
    color: #adadad;
    transition: 0.4s;
    cursor: pointer;

}
#signup_pass:hover{
    color:black;
}
/* */

/*email verify---------------------------------*/
#email_verify {
    display: none;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background-color: white;
    border-radius: 10px;
    max-height: calc(100vh - 10px);
    overflow-y: scroll;     
    z-index: 1;


}

#email_verify::-webkit-scrollbar{
    display: none;
}

#email_verify h1{
    text-align: center;
    padding:   20px ;
    border-bottom:1px solid silver ;
}
#email_verify form{
    padding: 0 40px;
    box-sizing: border-box;

}



#submit_email{
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: brown;
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb ;
    font-weight: 700;
    outline: none;
    cursor: default;
    opacity: 0.8;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
#submit_email:hover{
    transition: .5s;

}

#status_email{
    position: absolute;
    top:145px;
    font-size: 13px;
    color: brown;
    font-family: 'none';
}

/****Cart***/
 .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #f7fafb;
    box-shadow: -2px 0 4px rgb(15, 15, 27);
    transition: 0.3s ease-in;
    z-index: 3;
    

 }
 .cart.active{
    right: 0;
 }
 .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Italiana', serif;
    margin-top: 2rem;
 }

 .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1 rem;
    margin-top: 1rem;
    
 }
 .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
 }
 .detail-box{
    display: grid;
    row-gap: 0.5rem;
 }

 .cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
 }

 .cart-price{
    font-weight: 500;
 }
 .cart-quantity{
    border: 1px solid black;
    width: 2.4rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Italiana', serif;
 }

 #cart-remove{
    font-size: 24px;
    color: black;
    cursor: pointer;
 }

 #cart-remove:hover{
    color: red;
 }

 .total {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    border-top: 1px solid black;
 }

 .total-title {
    font-size: 1rem;
    font-weight: 600;
 }

 .total-price{
    margin-left: 15rem;
 }

 .btn-buy{
    margin-top: 15px;
    margin-left: 30%;
 }
 #close-cart{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
  z-index: 4;
 }

 /*NOTIFICATION CART*/

#dot{
    display: none;
    color: red;
    position: absolute;
    background-color: red;
    border-radius: 100%;
    font-size: 10px;
    top: 30px;
    right: 70px;
    z-index: 1;
    
}





/*FOOTER*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .logo{
    margin-bottom: 30px;

}
footer h2{
    font-size: 22px;
    margin-bottom: 20px ;
   }

footer h4{
 font-size: 14px;
 margin: 0 0 8px 0;
}

footer p{
    font-size: 18px;
    margin: 0 0 8px 0;
}
footer span{
    font-size: 17px;
    margin: 0 0 8px 0;
    font-weight: 0;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
    color: rgb(102, 101, 101);
    font-weight: 100;
}

footer .contact{
    margin: 0px 10px;
}

footer .icon{

    margin: 0px 10px;

}

footer .space{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px;

}



footer .follow .fa{
    color: #465b52 ;
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 5px ;
}
footer .follow .fa:hover,
footer a:hover{
    color: #ff523b;

}

#copurights{
    background-color: rgba(0,0,0);
    color:white;
    font-weight: 100;
    padding: 10px;
    text-align: center;
}
/*GENERAL-RESPONSIVE*/

@media(max-width:1000px){

    /*----------------HEADER------------*/
        #menu-icon {
            display: block;
            
        }
        header{
            padding: 15px 8%;
            transition: all .4s ease;
            
        }
    
         .navmenu {
            top: 0px;
            left: 0;
            right: 0;
            margin: 0;
            position: absolute;
            background-color: rgba(0,0,0, 0.5);
            backdrop-filter: blur(5px);
            flex-direction: column;
            backdrop-filter: blur(10px);
            transform: translate(0% , -100%)scale(1) ;
            visibility: hidden;
            transition: transform 0.3s,top 0.3s;
            z-index: 1;
    
            
        }


        .navmenu a{
            display: block;
            padding: 0px;
            margin: 1.5rem 20px;

        }
        .navmenu.active{
            visibility: visible;
            transform: translate(0%,0%)scale(1);
            top:100%;
        }

        .navmenu li a.active::after{
            content: "";
            position: absolute;
            width: 30px;
            transform: scaleX(1);
            height: 2px;
            bottom: 15px;
            left: 20px;
            background-color: white;
        }
        .navmenu li a::after {
            content: "";
            position: absolute;
            width: 35%;
            transform: scaleX(0);
            height: 2px;
            bottom: -6px;
            left: 20px;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
        /* search -----------*/
        #search_text input{
             
            height: 2.14rem;
            padding: 0 1.25em;
            font-size: 14px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 10px;
            outline: none ;
            background: rgb(236, 235, 235);
            transition: 0.4s;
            margin: 0;
            
        }
    
        
        .search
         {
            left: 10%;
            position: relative;
            transform: translate(-40% , 0%) scale(0.1);
            visibility: hidden;
            transition: transform 0.4s;
           
            
        }
        .search-active{
            visibility: visible;
            transform: translate(0% , 0%) scale(1);
            
        
        }
    
        .icons{
            transform: translate(0% , 0%) scale(1);
            visibility: visible;
            transition: transform 0.6s;
            opacity: 1;
            
        }
        .icons-a{
            opacity: 0;
            transform: translate(200% , 0%) scale(0.1);
            visibility: visible;
            position: absolute;
     
            
            
            
        }
        
        
        #scroll-up{
            right:15px;
        }


 /*FOOTER*/
        footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 10px 20px;
        }

        footer .col{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px 0;
        }
        footer .logo{
            margin-bottom: 30px;

        }
        footer h2{
            font-size: 22px;
            margin-bottom: 20px ;
        }

        footer h4{
        font-size: 14px;
        margin: 0 0 8px 0;
        }

        footer p{
            font-size: 18px;
            margin: 0 0 8px 0;
        }
        footer span{
            font-size: 17px;
            margin: 0 0 8px 0;
            font-weight: 0;
        }

        footer a{
            font-size: 16px;
            text-decoration: none;
            margin-bottom: 10px;
            color: rgb(102, 101, 101);
            font-weight: 100;
        }

        footer .contact{
            margin: 0px 10px;
        }

        footer .follow{
            margin-top: 20px ;
        }

        footer .icon{

            margin: 0px 10px;

        }

        footer .space{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 10px;

        }



    }

    @media(max-width:480px){
        #login {
            width: 100%;

        }
        #signup {
            width: 100%;

        }
        #email_error{

            margin: -20px 0px -15px 50px;
          } 

        #phone_error{
            margin: -20px 0px -15px 50px;

          } 

    }
