/* Home Page*/
#Hero{

    font-size: 130%;
    font-family:Arial, Helvetica, sans-serif ;
    background-image: url(../img/Main.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: top ;
    padding: 0px 85px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
    

}

#Hero h4{
  margin-bottom: 15px; 
  color: rgb(0, 2, 0);
  font-size: 33px;
  font-family: Kaisei HarunoUmi;

}
#Hero h2{
    font-family: 'Libre Baskerville', serif;
    color: rgb(1, 10, 0);
    font-size: 43px;
  
  }
  #Hero h2 span{
    color: #e8f6ea;
  }


#Hero button{
    background-image: url(../img/button.png);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border:0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    margin: 15px;
}

/* Categories*/


.title1 {
  margin-top: 200px;
  font-family: Kaisei HarunoUmi;
  font-size: 30px;
  text-align: center;
  margin: 35px auto 80px;
  position: relative;
  line-height: 60px;
  color: #000000;
}
.title1::after {
  content: "";
  background: #ff523b;
  width: 260px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#categories{
    display: flex;
    justify-content: center;
    gap: 200px;
   }
  
  
   .padding-large img{
    border-radius: 5%;
   }
  
   .projetc-preiview-content h2 {
    text-align: center;
    color: #000000;
    font-family: Kaisei HarunoUmi;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }


/****New Products**/

.row{
  display: flex;
  padding-left: 10%;
  
}

.colum {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.4s;
}
.colum img {
  width: 230px;
  border-radius: 14%;
  /* border: radius 20px; */
}
.title {
  font-family: Kaisei HarunoUmi;
  font-size: 30px;
  text-align: center;
  text-align: center;
  margin: 50px auto 80px;
  position: relative;
  line-height: 60px;
  color: #000000;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 160px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  font-family: Kaisei HarunoUmi;
  color: #000000;
  font-weight: normal;
}
.colum p {
  font-size: 17px;
}
.colum:hover {
  transform: translateY(-30px);
}


/*Why us*/


#Why-Us{
  height: 420px;
  width: 100%;
  background-color: aliceblue;
}


.container1 h2{
  text-align: center;
  font-size: 35px;
  font-family: Kaisei HarunoUmi;
  padding-top: 25px;
}
.info{
  justify-content: center;
  display: flex;
  gap: 60px;
  margin-top: 20px;
}
 /*News-letter*/

 #newsletter{
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #985b45;
  height: 250px;

} 



.newstext h2{
  text-align: center;
  font-family: Kaisei HarunoUmi;
  font-size: 38px;
  text-align: center;
  font-weight:800 ;
  padding-top: 20px;
}
.newstext p{

  font-family: Kaisei HarunoUmi;
  font-size: 17px;
  font-weight: 300;
  padding-top: 17px;

}

#newsletter input{
  padding-left: 30px;
  font-size: 15px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}
.form {
  width: 500px;
  padding-bottom: 5%;
  display: flex;
   
    background-color: transparent;
    box-sizing: border-box;
    transition: box-shadow var(--duration-short) ease;
}


/*HOME-RESPONSIVE*/
@media  (max-width:1000px){
    #Hero{
        background-image: url(../img/hero1_3_responsive.png);
        background-position: 69%  ;
        min-height: 100vh;
        padding-left: 3%;
        padding-bottom: 85%;
    }

    .row{
      flex-direction: column;
      padding-left: 20%;
    }
    #product1 .pro-container{
        justify-content: center;
        justify-self: end;         
        }
    
    #sm-banner .banner-box{
            width:49.8%;
            min-height:200px ;
            background-size:cover;
            background-position:center;
            padding: 40px;
        }
    #sm-banner{
            padding: 0 50px;
            
        }
    #banner3 .banner-box{
            width: 33%;
            min-height: 160px;
        
        }
    #banner3 {
            padding:  0 50px;
        }

}
@media  (max-width:768px){
/*hero*/
#Hero{
    background-image: url(../img/hero1_3_responsive.png);
    background-position: 69%  ;
    padding-left: 3%;
    padding-bottom: 85%;
}
#Hero button{
    font-size: 18px;
    margin-top: 3px;
    }

    
#Hero h4{
        margin-bottom: 3px;
        
      }
#Hero h1{
          color: brown;
          margin-top: 3px;
          margin-bottom: 3px;
          
      }


#categories {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-top: 20px;
        transform: scale(0.7);
       }





      }
@media(max-width:480px){
    /* hero---------*/
    #Hero{
    
        font-size: 100%;
        font-family:Arial, Helvetica, sans-serif ;
        background-image: url(../img/hero1_3_responsive.png);
        background-position: top 0% right 0%;
        background-size: cover;
        background-position:  69%;
        padding:0px 0px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;
        padding-bottom:130%;
        margin-bottom: 5%;
        
        
   
        
    
    }
    #Hero h4{
        margin-bottom: 5px;
        
        
      }
      #Hero h1{
          font-size: 28px;
          color: brown;
          margin-top: 5px;
          margin-bottom: 5px;
          
      }
      #Hero h2{
        font-size: 18px;
      }
      #Hero button{
        background-image: url(../img/button.png);
        background-color: transparent;
        color: brown;
        border:0;
        background-repeat: no-repeat;
        cursor: pointer;
        font-size: 14px;
        margin-top: 5px;
        margin-left: -20px;

        }

     #product1{
        font-size: 13px;
     }  
     #product1 h2 {
        font-size: 20px;
    }
    #product1 p {
        font-size: 14px;

    }
     #product1 .pro-container{
            justify-content: center;
            justify-self: end;
    }

     #product1 .pro{
            margin: 15px;
           
        }
     #banner{
            margin-bottom: 5%;
        }
        #banner button{
            font-size: 12px;
            padding: 10px 15px;

            

        }
        #banner h4 {

            font-size:11px;
        }
        #banner h2 {

            font-size: 15px;
          
        }
     

      }