/* Home Page*/
#Hero{

  font-size: 130%;
  font-family:Arial, Helvetica, sans-serif ;
  background-image: url(../img/Background.png);
  min-height: 100vh;
  background-size: cover;
  background-position: top ;
  padding: 0px 85px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  

  
  

}

#Hero h4{
  margin-bottom: 15px; 
  font-size: 33px;

}
#Hero h2{
    font-family: 'Libre Baskerville', serif;
    color: rgb(1, 10, 0);
    font-size: 43px;
  
  }
  #Hero h2 span{
    color: white;

  }


#Hero button{
    background-image: url(../img/button.png);
    background-color: transparent;
    color: white;
    border:0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 18px;
    margin: 15px;
}


/****New Products**/


.title {
  font-family: Kaisei HarunoUmi;
  font-size: 30px;
  text-align: center;
  text-align: center;
  margin: 50px auto 80px;
  position: relative;
  line-height: 60px;
  color: #000000;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 160px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  font-family: Kaisei HarunoUmi;
  color: #000000;
  font-weight: normal;
}
.colum p {
  font-size: 17px;
}
.box:hover {
  transform: translateY(-30px);
}



.row{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 0 8%;
  margin:0  2% 5%;


  
}

.box {
  width: 23%;
  min-width: 230px;
  border-radius:25px;
  transition: transform 0.4s;
  
} 

.text_pr{
  display: flex;
  justify-content: space-between;
}
.fa-heart{
  cursor: pointer;
  margin-right: 15px;
  transition:  0.4s;
  font-size: 20px;


}

.fa-heart:hover{
  color: red;
  transition:  0.4s;




}



.colum img {
  width: 230px;
  border-radius: 14%;
  /* border: radius 20px; */
}

/* Banner */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/banner/About-banner.jpg);
  width: 100%;
  background-size:cover;
  background-position: 69%;
  margin-bottom: 3%;
  margin-top: 3%;
}
#banner h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;


}
#banner h2 {
  color: wheat;
  font-size: 30px;
  padding: 10px 0px;
  font-weight: 900;

}

#banner button:hover{
  background-color: #ff523b;
  color: #fff;
  

}
#banner_filter{
  width: 100%;
  padding: 5%;
  backdrop-filter: brightness(80%);

}

/* Why-Us  */
.container1 h2{
  font-family: Kaisei HarunoUmi;
  font-size: 30px;
  margin: 50px auto 5%;
  text-align: center;
  position: relative;
  line-height: 60px;
  color: #000000;
}
.container1 h2::after {
  content: "";
  background: #ff523b;
  
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}



.info{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 0 8%;
  margin:0  2%;
  margin-bottom: 50px;

}

.info img{
  height: 230px;
  width: 230px;
}




/*NEWSLETTER-FORM*/
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: rgba(0,0,0,0.9);
  padding: 40px;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: wheat;

}
#newsletter p{
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
#newsletter p span{
  color: #ff523b;
}
#newsletter input{
  height: 3.14rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none ;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: black;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 100;
}

#newsletter .form{
  display: flex;
  width: 40%;
}




/*HOME-RESPONSIVE*/

@media  (max-width:1300px){



.row{
  gap: 0 50px;

}


.box {
  width: 23%;
  min-width: 180px;
  border-radius:25px;
  cursor: pointer;
  transition: transform 0.4s;
  
} 

.colum img {
  width: 180px;
  border-radius: 14%;
  /* border: radius 20px; */
}

.info{
  gap: 0 10px;

}




}


@media  (max-width:1000px){

  #Hero{
    background-image: url(../img/hero1_2_responsive.png);
    background-position: 69%  ;
    min-height: 100vh;
    padding-left: 3%;
    padding-top: 90px;
    padding-bottom:85% ;
}

.row{
  gap: 50px 150px;

}

.info{
  gap: 0 150px;

}


.box {
  width: 23%;
  min-width: 230px;
  border-radius:25px;
  cursor: pointer;
  transition: transform 0.4s;
  
} 

.colum img {
  width: 230px;
  border-radius: 14%;
  /* border: radius 20px; */
}

/*NEWSLETTER-FORM*/
#newsletter {
  justify-content: center;
  text-align: center;
  background-position: 5%;
  padding: 40px 10px;

}
#newsletter h4{
  font-size: 20px;
  font-weight: 700;
}
#newsletter p{
  font-size: 20px;
  margin-bottom:20px;
}

#newsletter .form{
  width: 50%;
}

#newsletter button{
  height: auto;
}

}


@media  (max-width:768px){
/*hero*/

      #Hero button{
          font-size: 18px;
          margin-top: 3px;
          }

          
      #Hero h4{
              margin-bottom: 3px;
              
            }
      #Hero h1{
                color: white;
                margin-top: 3px;
                margin-bottom: 3px;
                
            }
            .row{
              gap:  40px;
            
            }

            .box:hover {
              transform: translateY(0px);
            }

            .info{
              gap:40px;

            
            }

            #newsletter .form{
              width: 80%;
            }


}

@media(max-width:480px){
    /* hero---------*/
    /* hero---------*/
    #Hero{
    
      font-size: 100%;
      font-family:Arial, Helvetica, sans-serif ;
      background-image: url(../img/hero1_2_responsive.png);
      background-position: top 0% right 0%;
      background-size: cover;
      background-position:  69%;
      padding:0px 0px;
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-top:90px ;
      padding-left: 5%;
      padding-bottom:130%;
      margin-bottom: 5%;
      
      
 
      
  
  }
    #Hero h4{
        margin-bottom: 5px;
        font-size: 24px;

        
        
      }

      #Hero h2{
        font-size: 28px;
      }
      #Hero button{
        background-image: url(../img/button.png);
        background-color: transparent;
        color: white;
        border:0;
        background-repeat: no-repeat;
        cursor: pointer;
        font-size: 14px;
        margin-top: 5px;
        margin-left: -20px;

        }

        /*new products*/


        .row{
          margin: 0;
          gap: 20px;
        
        }

        .info{
          gap: 20px;
          margin:0px;
          margin-bottom: 50px;

        
        }

        #newsletter .form{
          width: 100%;
        }



      }